signup-successful{

 .login-bg{
    background:#00b0f0 url('../assets/img/background.png') no-repeat right top;
  }

  .register-label{
    text-align: center;
    font-size: 18px;
    font-weight:700;
    margin: 0px;
    padding: 0px;
    color: #fff;
}
.register-msg{
    font-size:16px;
    color:#fff;
    text-align:justify;
}
.register-user{
	font-size:16px;
	color:#fff;
}

}