page-home-camera {
.block {
  
  position: relative ;
  
  .deleteIcon {
    position: absolute !important;
    color: #ffffff !important;
    margin-left: 80% !important;
  }
  .deleteIcon:before {
    font-size: 50px !important;
  }
  .form-img3{
    max-height: 200px;
    width: 100%;
    margin-bottom: -25px;
    margin-top: -20px;
  }
 
  }
  .button{
    height:90Px;
    width:140px;
   
  }
  .button-md{
    text-transform: capitalize;
  }
  .default-white-color{
    background-color: white;
    color: #242725;
    div{
      margin: auto;
      ion-icon{
        font-size: 30px;
      }
    }
  }
  .default-white-color:hover{
    background-color: #387ef5 !important;
    color: whitesmoke !important;
    div{
      margin: auto;
      ion-icon{
        font-size: 30px;
      }
    }
    
    
  }

  //Bindu
  .modal {
    padding: 18px;
    border: 1px solid lightgrey;
    //left: 50%;
   // transform: translateX(-50%);
    width: 100%;
    }

    .modal img {
        max-width: 100%;
    }
    .croppr-container * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.croppr-container img {
    vertical-align: middle;
    max-width: 100%;
}

.croppr {
    position: relative;
    display: inline-block;
}

.croppr-overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: crosshair;
}

.croppr-region {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 3;
    cursor: move;
    top: 0;
}

.croppr-imageClipped {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.croppr-handle {
    border: 1px solid black;
    background-color: white;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 4;
    top: 0;
}
}