page-type-of-insurance {

    .select-icon{
        top: 50%;
        right: 14px;
        height:0px !important;
        position: absolute !important;
    }
    
     .form-img2{
       max-height: 200px;
       width: 100%;
       margin-bottom: -25px;
       margin-top: -20px;
     }
     .form-img3{
       max-height: 200px;
       width: 100%;
       margin-bottom: -25px;
       margin-top: -20px;
     }
    
    ion-item{
    .select-text{
    display: none;
    }
    }
    
    }
    
    .popover-md .popover-content{
    width: 90% !important;
        margin: 35px 18px;
        left:0px !important;
    }
    
